
.card {
  display: flex;
  align-items: center;
  max-width: 870px;
  padding: 64px 116px 64px 60px;
  border: 1px solid var(--lightgray);
  background-size: 0;
  border-radius: 32px;
}

.card::before {
  content: "";
  flex-shrink: 0;
  width: calc(190 / (870 - 60 - 116) * 100%);
  margin-right: 50px;
  padding-top: calc(165 / (870 - 60 - 116) * 100%);
  background-image: inherit;
  background-size: contain;
  background-repeat: no-repeat;
}

.card__title {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 24px;
  line-height: 29px;
}
