
:root {
  /* шрифты */
  --montserrat: "Montserrat";
  --regular: 400;
  --medium: 500;
  --semibold: 600;
  --bold: 700;
  --extrabold: 800;

  --default-fs: 16px;
  --default-lh: 20px;

  /* цвета */
  --dark: #333333;
  --white: #ffffff;
  --orange: #ff9900;
  --orange-dark: #E1670E;
  --gray-blue: #576b8f;

  /* контейнер */
  --container-max-width: 1870px;
  --container-padding: 50px;

  /* transitions */
  --short: .3s;
}
