
.questions {
  padding-top: 62px;
  padding-bottom: 100px;
}

.questions__title {
  margin-bottom: 32px;
}

@media (max-width: 1280px) {
  .questions {
    padding-top: 20px;
    padding-bottom: 80px;
  }
}

@media (max-width: 962px) {
  .questions {
    padding-bottom: 110px;
  }
}

@media (max-width: 576px) {
  .questions {
    padding-top: 30px;
    padding-bottom: 60px;
  }

  .questions__title {
    margin-right: 16px;
    margin-bottom: 17px;
  }
}

