
.socials {
  display: flex;
  flex-wrap: wrap;
}

.socials__item {
  margin-right: 25px;
}

.socials__link {
  display: flex;
  align-items: flex-start;
  width: 60px;
  height: 60px;
}

.socials__link {
  fill: var(--dark-gray);
  transition: fill var(--short);
  outline: none;
}

.socials__link:hover {
  fill: var(--orange);
}

.socials__link:focus:not(:active) {
  outline: 2px solid var(--orange);
  outline-offset: 3px;
}

.socials__link:active {
  fill: var(--orange-dark);
}
