

.hero__wrapper {
  position: relative;
  padding: 101px 80px;
}

.hero__content {
  position: relative;
  z-index: 11;
  max-width: 840px;
  color: var(--white);
  pointer-events: none;
}

.hero__content > * {
  pointer-events: auto;
}

.hero__slider{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 32px;
  overflow: hidden;
}

.hero__slide {
  background-color: var(--gray-blue);
  background-size: cover;
  background-position: center;
}

.hero__slide--one {
  background-image: url('/img/low-angle-photo-of-balconies.jpg');
}

.hero__slide--two {
  background-image: url('/img/slide_hero_foto@two@desktop.jpg');
}

.hero__slide--three {
  background-image: url('/img/slide_hero_foto@three@desktop.jpg');
}

.hero__slider-pagination.swiper-pagination {
  bottom: 20px;
}

.hero__title {
  margin-top: 0;
  margin-bottom: 23px;
  font-size: 70px;
  line-height: 85px;
  font-weight: var(--extrabold);
}

.hero__text {
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 24px;
  line-height: 29px;
  font-weight: var(--bold);
}

.hero__text:last-of-type {
  margin-bottom: 90px;
}

.hero__btn:not(:last-child) {
  margin-bottom: 40px;
}

@media (max-width: 1280px) {
  .hero {
    padding-bottom: 19px;
  }

  .hero__wrapper {
    padding: 160px 77px;
  }

  .hero__title {
    margin-bottom: 16px;
    font-size: 60px;
    line-height: 73px;
  }

  .hero__text {
    font-size: 20px;
    line-height: 24px;
  }

  .hero__text:last-of-type {
    margin-bottom: 60px;
  }

  .hero__slide--one {
    background-image: url('/img/slide_hero_foto@1024.jpg');
  }

  .hero__slide--two {
    background-image: url('/img/slide_hero_foto@two@1024.jpg');
  }

  .hero__slide--three {
    background-image: url('/img/slide_hero_foto@three@1024.jpg');
  }
}

@media (max-width: 800px) {
  .hero__wrapper {
    padding: 160px 40px;
  }

  .hero__slider {
    border-radius: 24px;
  }

  .hero__title {
    font-size: 50px;
    line-height: 61px;
  }

  .hero__text {
    font-size: 18px;
    line-height: 22px;
  }

  .hero__slide--one {
    background-image: url('/img/slide_hero_foto@768.jpg');
  }

  .hero__slide--two {
    background-image: url('/img/slide_hero_foto@two@768.jpg');
  }

  .hero__slide--three {
    background-image: url('/img/slide_hero_foto@three@768.jpg');
  }
}

@media (max-width: 576px) {
  .hero {
    padding-bottom: 30px;
  }

  .hero__wrapper {
    padding: 60px 22px;
  }

  .hero__content {
    text-align: center;
  }

  .hero__title {
    margin-bottom: 7px;
    font-size: 20px;
    line-height: 24px;
  }

  .hero__text {
    font-size: 12px;
    line-height: 15px;
  }

  .hero__text:last-of-type {
    margin-bottom: 33px;
  }

  .hero__slider {
    border-radius: 16px;
  }

  .hero__slider-pagination.swiper-pagination {
    position: absolute;
    bottom: 14px;
    line-height: 1;
  }

  .hero__slide--one {
    background-image: url('/img/slide_hero_foto@320.jpg');
  }

  .hero__slide--two {
    background-image: url('/img/slide_hero_foto@two@320.jpg');
  }

  .hero__slide--three {
    background-image: url('/img/slide_hero_foto@three@320.jpg');
  }
}
