
.title {
  position: absolute;
  font-weight: 600;
  font-size: 18px;
  margin: 0;
  margin-top: 21px;
  margin-left: 30px;
}

.check-label {
  margin-left: 30px;
  cursor: pointer;
}

.container__categories {
  display: block;
  margin: 0;
  width: 176px;
  height: 309px;
  color: #333333;
  background-color: #FFFFFF;
  border-radius: 10px;
}

.reset-list {
  position: relative;
}

.list-ul {
  padding-top: 66px;
}

.list_categories {
  margin-bottom: 20px;
}

.check-label:hover .visible-checkbox {
  border-color: var(--gold);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.visible-checkbox {
  position: relative;
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 10px;
  border: 1px solid #999999;
  border-radius: 3px;
  vertical-align: middle;
  transition: border-color .3s ease;
}


.visible-checkbox::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: var(--gold);
  opacity: 0;
  transition: opacity .3s ease;
}

.checkbox:checked ~ .visible-checkbox::before {
  opacity: 1;
}

.checkbox:focus ~ .visible-checkbox {
  border-color: var(--gold);
}

.checkbox:checked ~ .visible-checkbox {
  background-image: url(../img/Rectangle\ 991.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  border-color: var(--gold);
}

