html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: 14px;
}

.wrapper {
  display: -webkit-box;
  min-height: 100vh;
  padding: 100px;
  background-color: var(--dark-bg);
}


.reset-list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.list-wraper {
  display: inline-flex;
}

.list__defoult {
  margin-right: 58px;
}
