
.container__scrollbar {
  width: 399px;
  height: 310px;
  background-color: var(--white);
  overflow: auto;
  scrollbar-color: var(--gold);
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  width: 6px;
  margin-top: 7px;
  margin-right: 6px;
  background-color: var(--gold);
  border-radius: 5px;
}

.text__scrollbar {
  margin: 0;
  padding-top: 20px;
  padding-left: 29px;
  padding-right: 30px;
  line-height: 170%;
}

.simplebar-content-wrapper {
  scrollbar-width: auto;
  -ms-overflow-style: auto;
}
