
.default-select {
  position: relative;
  overflow: hidden;
  width: 176px;
  margin-bottom: 24px;
  font-size: 14px;
  color: #333333;
}

.default-select:focus {
  outline: none;
}

.default-select:last-child {
  margin-bottom: 0;
}

.default-select.is-open {
  overflow: visible;
}

.default-select.is-disabled .default-select__inner,
.default-select.is-disabled .default-select__input {
  background-color: #eaeaea;
  cursor: not-allowed;
  -webkit-user-select: none;
  user-select: none;
}

.default-select.is-disabled .default-select__item {
  cursor: not-allowed;
}

.default-select [hidden] {
  display: none !important;
}

.default-select[data-type*=select-one] {
  cursor: pointer;
}

.default-select[data-type*=select-one]::after {
  content: "";
  position: absolute;
  z-index: 3;
  right: 15px;
  top: 50%;
  height: 8px;
  width: 8px;
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-color: #666666;
  margin-top: -5px;
  transform: rotate(45deg);
  pointer-events: none;
  transition: transform .3s, margin-top .3s;
}

.default-select[data-type*=select-one].is-open::after {
  margin-top: -2px;
  border-color: var(--gold);
  transform: rotate(225deg);
}

.default-select__inner {
  position: relative;
  z-index: 2;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  background-color: var(--white);
  padding: 9px 25px 11px 15px;
  border: 1px solid transparent;
  border-radius: 10px;
  font-size: 14px;
  overflow: hidden;
  transition: background-color .3s;
}

.default-select__inner:hover {
  background-color: var(--grey);
}

.is-focused .default-select__inner,
.is-open .default-select__inner {
  border-color: var(--gold);
}

.is-open .default-select__inner {
  border-radius: 10px;
}

.default-select__list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.default-select__list--single {
  display: inline-block;
  width: 100%;
}

.default-select__list--single .default-select__item {
  width: 100%;
}

.default-select__list--dropdown,
.default-select__list[aria-expanded] {
  visibility: hidden;
  z-index: 1;
  position: absolute;
  width: 100%;
  background-color: var(--white);
  border: 1px solid transparent;
  top: 100%;
  margin-top: -10px;
  padding-top: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  word-break: break-all;
  will-change: visibility;
}

.is-active.default-select__list--dropdown,
.is-active.default-select__list[aria-expanded] {
  visibility: visible;
}

.is-open .default-select__list--dropdown,
.is-open .default-select__list[aria-expanded] {
  border-color: var(--gold);
}

.default-select__list--dropdown .default-select__list,
.default-select__list[aria-expanded] .default-select__list {
  position: relative;
  max-height: 300px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  will-change: scroll-position;
}

.default-select__list--dropdown .default-select__item,
.default-select__list[aria-expanded] .default-select__item {
  position: relative;
  padding: 10px 15px;
  transition: background-color .3s;
}

.default-select__list--dropdown .default-select__item--selectable.is-highlighted,
.default-select__list[aria-expanded] .default-select__item--selectable.is-highlighted {
  background-color: var(--grey);
}

.default-select__item {
  cursor: default;
}

.default-select__item--selectable {
  cursor: pointer;
}

.default-select__item--disabled {
  cursor: not-allowed;
  -webkit-user-select: none;
  user-select: none;
  opacity: 0.5s;
}

.default-select__list--dropdown .default-select__placeholder {
  display: none;
}

@media (min-width: 640px) {
  .default-select__list--dropdown .default-select__item--selectable::after,
  .default-select__list[aria-expanded] .default-select__item--selectable::after {
    content: attr(data-select-text);
    font-size: 12px;
    opacity: 0;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
}

