
.advantages {
  padding: 50px 0;
}

.advantages__title {
  font-size: 20px;
  line-height: 130%;
  margin: 0;
  padding: 0;
  color: var(--dark-blue);
}

.advantages__text {
  margin: 0;
  color: var(--dark);
}

.advantages__list {
  margin: 0;
}

.advantages__text-list {
  margin: 0;
  padding: 0;
  max-width: 100%;
  font-weight: 700;
  line-height: 120%;
  color: var(--dark);
}

.advantages__items {
  justify-items: center;
  align-items: center;
  margin-bottom: 29px;
  padding: 0;
}

.advantages__wrap {
  margin-bottom: 25px;
}

.advantages__icon {
  flex-shrink: 0;
  width: 80px;
  height: 80px;
}

.advantages__image {
  display: none;
  position: relative;
}

.advantages__image svg {
  position: absolute;
  width: calc(100% - 30px);
}

@media (min-width: 576px) {
  .advantages {
    padding: 80px 0;
  }

  .advantages__items {
    padding: 0;
  }

  .advantages__image {
    display: block;
  }

  .advantages__title {
    padding: 0;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 19px;
  }
}

@media (min-width: 768px) {
  .advantages__image {
    padding-top: 25px;
  }

  .advantages__title {
    margin-bottom: 18px;
  }
}

@media (min-width: 1440px) {
  .advantages__image {
    padding-top: 23px;
  }

  .advantages__items {
    margin: 0;
  }
}
