html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, svg {
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  min-width: 320px;
  font-family: "Roboto", Helvetica, sans-serif;
  color: var(--white);
  font-size: 16px;
  line-height: 150%;
}

.reset-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}

.reset-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.btn {
  align-items: center;
  width: 213px;
  padding: 20px;
  font-weight: 700;
  line-height: 19px;
  border-radius: 20px;
  background-color: var(--blue);
  color: var(--white);
}

