
.header {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: var(--blue);
}

.header__container {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
}

.header__row {
  flex-direction: column;
  align-items: center;
}

.header__logo-wrap {
  display: flex;
}

.header__image-logo {
  display: block;
  width: 94px;
  height: 21px;
  margin-bottom: 26px;
}

.header__nav {
  display: block;
  width: 100%;
  overflow-x: hidden;
}

.header__menu {
  display: flex;
  font-size: 18px;
  line-height: 21px;
  overflow-x: auto;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 56px;
}

.header__menu-link {
  white-space: nowrap;
}

@media (min-width: 576px) {
  .header {
    padding-top: 31px;
    padding-bottom: 30px;
  }

  .header__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header__logo-wrap {
    margin-bottom: 30px;
  }

  .header__image-logo {
    width: 94px;
    height: 21px;
    margin: 0;
  }

  .header__row {
    flex-direction: column;
    align-items: center;
  }

  .header__nav {
    overflow-x: none;
  }

  .header__menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0;
    padding: 0px 21px;
  }

  .header__menu-item {
    margin: 0;
  }
}

@media (min-width: 768px) {
  .header {
    padding-top: 30px;
    padding-bottom: 29px;
  }

  .header__container {
    flex-direction: row;
    justify-content: space-between;
  }

  .header__row {
    flex-direction: row;
  }

  .header__logo-wrap {
    margin-bottom: 0
  }

  .header__menu {
    justify-content: space-between;
    padding: 0;
    padding-left: 40px;
  }
}

@media (min-width: 1440px) {
  .header__menu {
    justify-content: end;
    gap: 57px;
  }
}
