
.hero {
  /* max-width: 100%; */
  background-image: url(../img/hero_fon_mobile.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.hero__text,
.hero__title {
  margin: 0;
}

.hero__title {
  margin-bottom: 5px;
  padding-top: 50px;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
}

.hero__text {
  width: 100%;
  font-weight: 400;
  line-height: 20.8px;
  margin-bottom: 45px;
}

.hero__image-wrap {
  display: none;
}

@media (min-width: 576px) {
  .hero {
    background-image: url(../img/hero_fon_510.jpg);
  }

  .hero__title {
    font-size: 50px;
    line-height: 50px;
    padding-top: 77px;
    margin-bottom: 15px;
  }

  .hero__text {
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 62px;
  }

}

@media (min-width: 768px) {
  .hero {
    background-image: url(../img/hero_fon_690.jpg);
  }

  .hero__image-wrap {
    display: block;
    position: relative;
    padding-top: 117px;
  }

  .hero__title {
    padding-top: 130px;
  }
}


@media (min-width: 1440px) {
  .hero__title {
    font-size: 60px;
    line-height: 100%;
    margin-bottom: 27px;
  }

}
